<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>iRubrica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Prova</display-name>
    <servlet-name>Prova</servlet-name>
    <servlet-class>iR.Servlet.Prova</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prova</servlet-name>
    <url-pattern>/Prova</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>iR.Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>iR.Servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contacts</display-name>
    <servlet-name>Contacts</servlet-name>
    <servlet-class>iR.Servlet.Contacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacts</servlet-name>
    <url-pattern>/Contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>iR.Servlet.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewContact</display-name>
    <servlet-name>ViewContact</servlet-name>
    <servlet-class>iR.Servlet.ViewContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewContact</servlet-name>
    <url-pattern>/ViewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ricerca</display-name>
    <servlet-name>Ricerca</servlet-name>
    <servlet-class>iR.Servlet.Ricerca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ricerca</servlet-name>
    <url-pattern>/Ricerca</url-pattern>
  </servlet-mapping>
</web-app>